* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 70px;
}

.container {
    max-width: 800px;
    margin: auto;
}

header .container h1 {
    color: #29b1dd;
    line-height: 70px;
}

main {
    height: calc(100vh - 70px);
    background-color: lightgray;
}


.selectContainer {
    height: 50px;
    background-color: #29b1dd;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    color: white;
    margin-right: 10px;
}

#iconsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    height: 80px;
    width: calc((100% / 5) - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 3px 3px gray;
}